<!DOCTYPE html>
<html>
    <head>
        <title>Powerium</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}


            <div class="container">
                <a href="/inputs">
                    <img src="/images/inputCard.png" alt="Input Page" style="width:32%;height:80%;margin: 0px 0px 0px 0px;">
                </a>
                <div class="left">Inputs</div>

                <a href="/trends">
                    <img src="/images/trendCard.png" alt="Trend Page" style="width:32%;height:80%;margin: 0px 0px 0px 0px;">
                </a>
                <div class="center">Trends</div>

                <a href="/suggestions">
                    <img src="/images/inputCard.png" alt="Suggestions Page" style="width:32%;height:80%;">
                </a>
                <div class="right">Suggestions</div>
            </div>
        </div>

        {{>footer}}
    </body>
</html>