<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <form method="POST" action="/login">
                <!-- Questions for Logging In -->
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" placeholder="email" required><br><br><br>

                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" placeholder="password" required><br><br><br>

                <input type="submit" name="action" value="Login">
            </form>

            <form method="POST" action="/login">
                <p>First time user? Register your account here!</p>
                <input type="button" onclick="location.href='/register';" name="action" value="Register">
            </form>
        </div>

        {{>footer}}
    </body>
</html>