<!DOCTYPE html>
<html>
    <head>
        <title>Register Account</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <form method="POST" action="/register">
                <!-- Questions for Logging In -->
                <label for="name">Username</label><br>
                <input type="text" id="usernameID" name="name" placeholder="Username" required><br><br><br>

                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" placeholder="email" required><br><br><br>

                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" placeholder="password" required><br><br><br>

                <input type="submit" value="Register Account">
            </form>
        </div>

        {{>footer}}
    </body>
</html>