<!DOCTYPE html>
<html>
    <head>
        <title>Trends</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <button class="btn", onclick="location.href='/';"><i class="fa fa-home"></i> Home</button>
            <div class="charts">
                <div class="chartsLeft">
                    <div id="showerChart"></div>
                </div>

                <div class="chartsRight">
                    <div id="airChart"></div> 
                </div>

                <div class="chartsLeft">
                    <div id="eatChart"></div>
                </div>

                <div class="chartsRight">
                    <div id="yesNoChart"></div>
                </div>
            </div>
        </div>

        <script id="userTrends" userData={{userMongoDBData}} src="/js/trendPageCharts.js"></script>
        <footer>
    </body>
</html>


