<!DOCTYPE html>
<html>
    <head>
        <title>Trends</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <p>This is where your personalized data graphs will appear.</p> --}}
            <div class="charts">
                <div class="chartsLeft">
                    <div id="showerChart"></div>
                </div>

                <div class="chartsRight">
                    <div id="airChart"></div> 
                </div>

                {{!-- <div class="chartsCenter">
                    <div id="airConditioningChart"></div>
                </div> --}}

                <div class="chartsLeft">
                    <div id="eatChart"></div>
                </div>

                <div class="chartsRight">
                    <div id="yesNoChart"></div>
                </div>
            </div>
        </div>

        <script id="userInputs" userData={{userMongoDBData}} src="/js/trendPageCharts.js"></script>
        <footer>
        {{!-- {{>footer}} --}}
    </footer>
    </body>
</html>