<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Powerium was constructed as part of a Hackathon by IBM through UF in a Software Engineering Course.</p>
            <p>The web application allows users to first input data about their lifestyle habits, then get
                personalized trends and suggestions to save money and energy based off their input.
            </p>
        </div>

        {{>footer}}
    </body>
</html>