<header>
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <div class="topnav">
        <a href="/">
            <h1>{{title}}</h1>
        </a>
        
        <div class="login-container">
            <form action = "/logout?_method=DELETE" method="POST">
            <button type="submit">{{logout}}</button>
             </form>
        </div>
        


    </div>
</header>