<header>

    <link rel="stylesheet" href="/css/stylesHeader.css">

    <h1>{{title}}</h1>
    
    <a href="/">Home</a>
    <a href="/inputs">Input</a>
    <a href="/trends">Trends</a>
    <a href="/suggestions">Suggestions</a>
    <a href="/about">About</a>
    <a href="/contact">Contact Us</a>
    <button onclick="location.href = '/login';">Log In</button>
</header>