body {
  background-color: #24292b;
  font-family: arial;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;

  color: #fff;
}

.err-msg {
  padding: 10px 15px;
  background-color: #24292b;
  border-radius: 8px;
  margin-bottom: 15px;
  /* text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff,
    0 0 0.4em rgb(255, 212, 119), 0 0 0.6em rgb(255, 153, 0); */
  color: rgb(255, 145, 0);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.charts {
  color: rgb(39, 123, 250);
  display: flex;
  flex-wrap: wrap;
}

img {
  border: 4px solid #fc6500;
  /* margin-right: 38px; */
  padding: 0px;
}

.main-content label {
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
}

.main-content input {
  border: 2px solid #ffbd72;
  padding: 8px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.chartsLeft {
  width: 40%;
  margin: 10px;
}

.chartsRight {
  width: 40%;
  margin: 10px;
}

.chartsCenter {
  width: 40%;
  margin-left: 27%;
  margin-right: 27%;
}

button {
  cursor: pointer;
  border: 1px solid #cccccc;
  background: #888888;
  padding: 8px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  margin-top: 50px;
  /* text-align: center; */
  font-size: 24px;
  color: white;
}

/* Centered text */
.left {
  position: absolute;
  top: -5%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.center {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  top: -5%;
  left: 84%;
  transform: translate(-50%, -50%);
}

/* Style buttons */
.btn {
  background-color: rgb(255, 145, 0); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: relative;
  left: 1210px;
}

ul {
  list-style-type: disclosure-closed;
  color: #fc6500;
  font-size: 2em;
}

li {
  margin-bottom: 10px;
}
