header {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: #fc6500;
  font-size: 24px;
  margin-right: 16px;
  padding-right: 40px;
  text-decoration: none;
}

header button {
  background-color: #afbaca;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header button:hover {
  opacity: 1;
}

header h1 {
  font-size: 64px;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff,
    0 0 0.4em rgb(255, 212, 119), 0 0 0.6em rgb(255, 153, 0),
    0 0 0.8em rgb(255, 153, 0), 0 0 1em rgb(255, 153, 0),
    0 0 1.2em rgb(255, 153, 0);
  color: rgb(255, 145, 0);
  margin-bottom: 16px;
}
